#home {
	min-width: 400px;
	min-height: 400px;
	background: url(tamagotchi-home.png) center no-repeat;

}

#tamagotchi {
	max-width: 60px;
	max-height: 60px;
	position: relative;
	left: 666px;
	top: 130px;
}

#home p {
	color: #dffdcf;
	left: 600px;
	top: 20px;
	position: relative;
	line-height: 50%;
}